@import 'bootstrap.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas {
  border: 1px dotted black;
  border-radius: $border-radius;
}


.sidebar-images {
  display: flex;
  flex-direction: column;

  align-self: center;

  img {
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    max-width: 200px;

    &:hover {
      border: 1px solid gray;
    }
  }
}

.svg-modal {
  height: 70%;
  min-height: unset !important;

  textarea {
    width: 100%;
    height: 400px;
    resize: none;
  }
}

.canvas-controls-top {
  max-width: 600px;
}

.canvas-control-bottom {
  max-width: 600px;
}